Nav {
    background-color: white;
}
Nav ul {
    list-style: none;
    margin-left: 50%;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin-right: 10px;
}
Nav a {
    text-decoration: none;
    color: black;
}
Nav a:hover{
    background-color: gold;
    padding: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.produto {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.produto-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.produto-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.pagar-produto {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 50%;
    height: 80%;
}

.produto h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 80px; /* Espaço entre as colunas */
    max-width: 1000px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 20px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

footer ul li {
    color: white;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer ul a:hover {
    text-decoration: underline; /* Efeito hover */
}

.footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}