/* Container geral da sidebar */
.sidebar-container {
    display: flex;            /* Coloca os elementos lado a lado (flexbox) */
    width: 100%;              /* Ocupa toda a largura disponível */
    border: 1px solid #ccc;   /* Borda cinza em volta do container */
    background-color: #aa9393;
  }
  
  /* Estilização da barra lateral */
  .sidebar {
    width: 200px;             /* Largura fixa da barra lateral */
    background-color: #333;   /* Cor de fundo escura */
    color: white;             /* Cor do texto */
    padding: 10px;            /* Espaçamento interno */
    height: 100vh;            /* Ocupa 100% da altura da janela de visualização */
    box-sizing: border-box;   /* Garante que padding não aumente a largura/altura */
  }
  
  /* Estilização dos links */
  .sidebar a {
    display: block;           /* Ocupa a linha inteira */
    color: white;             /* Cor do texto dos links */
    text-decoration: none;    /* Remove o sublinhado */
    margin-bottom: 10px;      /* Espaço entre os links */
    font-size: 130%;
    margin-top: 55px;
  }
  
  /* Efeito visual ao passar o mouse nos links */
  .sidebar a:hover {
    background-color: #444;   /* Fundo um pouco mais claro ao passar o*/
    font-size: 150%;
  }

  /*Icone da imagem na sidebar*/
  #icone{
    width: 150px;
    height: 150px;
    border-radius: 50%; /* deixa perfeitamente redondo */

  }

  /*Efeito Visual ao passar o mouse sobre a imagem*/

  #icone:hover {
    width: 165px;
    height: 165px; /* altura igual à largura para virar círculo */
    background-color: rgb(74, 68, 68);
    border-radius: 50%; /* deixa perfeitamente redondo */
  }
  

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Dashboard cards */
.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  flex: 1 1 200px;
  min-width: 200px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}